<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h1 class="text-center">Đăng Ký</h1>
            <form #signupForm="ngForm" (ngSubmit)="xuLyDangKy(signupForm)">
                <div class="form-group">
                  <label for="taiKhoan">Tài Khoản</label>
                  <input 
                    type="text"
                    id="taiKhoan"
                    class="form-control"
                    name="taiKhoan" 
                    required 
                    #taiKhoan="ngModel"
                    ngModel
                    minlength="3"
                    maxlength="20"
                    />
                  <div class="alert alert-danger" *ngIf="taiKhoan.invalid && (taiKhoan.touched || taiKhoan.dirty)">
                      <span *ngIf="taiKhoan.errors.required">Tài Khoản không được để trống</span>
                      <span *ngIf="taiKhoan.errors.minlength || taiKhoan.errors.maxlength">Tài khoản phải từ 3 - 20 ký tự </span>
                  </div>
                </div>
                <div class="form-group">
                    <label for="matKhau">Mật Khẩu</label>
                    <input 
                    type="password" 
                    id="matKhau" 
                    class="form-control" 
                    name="matKhau" 
                    #matKhau="ngModel" 
                    required 
                    ngModel
                    />
                    <div class="alert alert-danger" *ngIf="matKhau.invalid && (matKhau.touched || matKhau.dirty)">
                        <span *ngIf="matKhau.errors.required">Mật khẩu không được để trống</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="hoTen">Họ Tên</label>
                    <input type="text" #hoTen="ngModel" required id="hoTen" class="form-control" name="hoTen" ngModel/>
                    <div class="alert alert-danger" *ngIf="hoTen.invalid &&(hoTen.touched || hoTen.dirty)">
                        <span *ngIf="hoTen.errors.required">
                            họ tên không được để trống
                        </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" class="form-control" name="email" ngModel/>
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.touched || email.dirty)">
                        <span *ngIf="email.errors.required">email k được để trống</span>
                        <span *ngIf="email.errors.pattern">email không đúng đinh dạng</span>
                    </div> 
                </div>
                  <div class="form-group">
                    <label for="soDt">Số Điện Thoại</label>
                    <input type="tel" id="soDt" class="form-control" name="soDt" ngModel #soDt="ngModel" required />
                    <div class="alert alert-danger" *ngIf="soDt.invalid &&(soDt.touched || soDt.dirty)">
                        <span *ngIf="soDt.errors.required">
                            số điện thoại không được để trống
                        </span>
                    </div>
                  </div>
                  <button  type="submit" class="btn btn-success">Đăng ký</button>
            </form>
        </div>
    </div>
</div>