.ghe {
  width: 35px;
  height: 35px;
  margin: 5px;
  background-color: gray;
  border-radius: 7px;
  border: none;
}
.gheDaDat {
  background-color: red;
}
.gheDangDat {
  background-color: green;
}
